[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EnvStats"]
	path = EnvStats
	url = https://github.com/alexkowa/envstats
	shallow = true
[submodule "x12GUI"]
	path = x12GUI
	url = https://github.com/alexkowa/x12gui
	shallow = true
